nodered-flow.json
[{"id":"9226281d.2e17e8","type":"tab","label":"Covid19","disabled":false,"info":""},{"id":"b8ebb42c.eb17d8","type":"twitter out","z":"9226281d.2e17e8","twitter":"","name":"TweeterPost","x":1207,"y":147,"wires":[]},{"id":"c3bf4452.5d4a98","type":"http request","z":"9226281d.2e17e8","name":"Get Mauritius API _ Covid ","method":"GET","ret":"txt","url":"http://11.0.0.3:1880/getcovid","tls":"","x":511,"y":210,"wires":[["28865a95.9d8546","60ce7970.a15808"]]},{"id":"28865a95.9d8546","type":"debug","z":"9226281d.2e17e8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","x":1179,"y":362,"wires":[]},{"id":"b6c09cfb.5be12","type":"inject","z":"9226281d.2e17e8","name":"Trigger Script","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 08 * * *","once":false,"onceDelay":0.1,"x":110,"y":274,"wires":[["1f4d165.f1b93ea"]]},{"id":"1f4d165.f1b93ea","type":"exec","z":"9226281d.2e17e8","command":"/bin/bash /home/project/tweet-covidpictures-mru/imagegen.sh","addpay":false,"append":"","useSpawn":"true","timer":"120","oldrc":false,"name":"Generate A picture about Covid","x":317,"y":540.5,"wires":[["a3705918.c8f118","28865a95.9d8546"],["28865a95.9d8546"],[]]},{"id":"a3705918.c8f118","type":"file in","z":"9226281d.2e17e8","name":"PictureOfCovid_MRU","filename":"/var/www/html/flight/covid.png","format":"","chunk":false,"sendError":true,"x":567,"y":386,"wires":[["d324f3cb.a8579"]]},{"id":"dcf8d67c.cca1f8","type":"function","z":"9226281d.2e17e8","name":"Appending Any Text","func":"\nmsg.payload = \"#Mauritius\\n#COVID19\\nConfirmed Cases:\" + msg.payload.latest.confirmed + \"\\nDeaths: \" + msg.payload.latest.deaths  + \"\\nRecovered: \" + msg.payload.latest.recovered; \nreturn msg;","outputs":1,"noerr":0,"x":987,"y":227,"wires":[["28865a95.9d8546","b8ebb42c.eb17d8"]]},{"id":"d324f3cb.a8579","type":"change","z":"9226281d.2e17e8","name":"","rules":[{"t":"set","p":"media","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":684,"y":301,"wires":[["28865a95.9d8546","c3bf4452.5d4a98"]]},{"id":"60ce7970.a15808","type":"json","z":"9226281d.2e17e8","name":"","property":"payload","action":"obj","pretty":true,"x":816,"y":165,"wires":[["dcf8d67c.cca1f8"]]},{"id":"b2972e64.48da","type":"http request","z":"9226281d.2e17e8","name":"Get CSV","method":"GET","ret":"txt","url":"","tls":"","x":467,"y":916,"wires":[["e14d821.943828"]]},{"id":"9a2767a7.655198","type":"function","z":"9226281d.2e17e8","name":"Make URL","func":"var today = new Date();\n\nvar date = new Date();\n\ndate.setDate(today.getDate() - 1);\n\nvar url = \"https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/\";\n\nvar year = date.getFullYear();\n\nvar month = (1 + date.getMonth()).toString();\nmonth = month.length > 1 ? month : '0' + month;\n\nvar day = date.getDate().toString();\nday = day.length > 1 ? day : '0' + day;\n\ndateformat = month + '-' + day + '-' + year;\nmsg.url = url + dateformat + \".csv\";\n\nreturn msg;","outputs":1,"noerr":0,"x":282,"y":916,"wires":[["b2972e64.48da"]]},{"id":"fb060a72.98b798","type":"http in","z":"9226281d.2e17e8","name":"Covid-DataSet","url":"/getcovid","method":"get","upload":false,"swaggerDoc":"","x":102,"y":763,"wires":[["9435085d.a1c7b8"]]},{"id":"7b5a2122.0efd4","type":"http response","z":"9226281d.2e17e8","name":"","statusCode":"","headers":{},"x":567,"y":763,"wires":[]},{"id":"e14d821.943828","type":"csv","z":"9226281d.2e17e8","name":"","sep":",","hdrin":true,"hdrout":false,"multi":"mult","ret":"\\n","temp":"FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key","skip":"0","x":660,"y":916,"wires":[["1d7c2f.d8f403d1","ef9a45d0.6f8c28"]]},{"id":"39039f6b.bdc51","type":"inject","z":"9226281d.2e17e8","name":"Get latest Value from Github","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"0 0 * * *","once":false,"onceDelay":0.1,"x":149,"y":861,"wires":[["9a2767a7.655198"]]},{"id":"9435085d.a1c7b8","type":"file in","z":"9226281d.2e17e8","name":"Read Dataset","filename":"/home/project/tweet-covidpictures-mru/mauritius.json","format":"utf8","chunk":false,"sendError":false,"x":332,"y":763,"wires":[["7b5a2122.0efd4"]]},{"id":"1d7c2f.d8f403d1","type":"file","z":"9226281d.2e17e8","name":"Save Dataset","filename":"/home/project/tweet-covidpictures-mru/covidataset.json","appendNewline":true,"createDir":false,"overwriteFile":"true","x":847,"y":917,"wires":[[]]},{"id":"ef9a45d0.6f8c28","type":"json","z":"9226281d.2e17e8","name":"","property":"payload","action":"obj","pretty":true,"x":819,"y":979,"wires":[["9a674e5a.b093"]]},{"id":"9a674e5a.b093","type":"function","z":"9226281d.2e17e8","name":"Create Payload for Result","func":"var data = msg.payload;\n\nvar confirmed,recovered, deaths;\n\nfor(var i = 0; i < data.length; i++)\n{\n  if(data[i]['Country_Region'] == 'Mauritius')\n  {\n   confirmed =  data[i]['Confirmed'];\n   recovered =  data[i]['Recovered'];\n   deaths    =  data[i]['Deaths'];\n  }\n}\n\nmsg.payload = '{\"latest\":{\"confirmed\": ' + confirmed + ',\"deaths\": ' + deaths + ' ,\"recovered\": ' + recovered + '}}' ;\n\nreturn msg;","outputs":1,"noerr":0,"x":1025,"y":979,"wires":[["1e1da4ed.d4e55b"]]},{"id":"1e1da4ed.d4e55b","type":"file","z":"9226281d.2e17e8","name":"MauritiusLatest","filename":"/home/project/tweet-covidpictures-mru/mauritius.json","appendNewline":true,"createDir":false,"overwriteFile":"true","x":1274,"y":981,"wires":[[]]}]
